<!DOCTYPE html>
<html lang="pt-BR" class="h-100" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    {{> header}}
</head>
<body class="d-flex flex-column h-100">
    {{> menu}}
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <form action="{{contextPath}}/consultoria/empresa/cadastrar" method="post">

                <h1>Cadastro Empresa</h1>
                <input type="hidden" name="id" value="{{empresa.id}}"/>
                <div class="row form-group col">
                    <label for="idNome">Nome </label>
                    <input type="text" class="form-control" id="idNome" name="nome"
                           aria-describedby="nomeHelp" value="{{empresa.nome}}" required/>
                    <small id="nomeHelp" class="form-text text-muted">Nome da Empresa. ex: Itau.</small>
                </div>
                <div class="row form-group col">
                    <label for="idCNPJ">CNPJ</label>
                    <input type="text" class="form-control" id="idCNPJ" name="cnpj"
                           aria-describedby="cnpjHelp" value="{{empresa.cnpj}}" required/>
                    <small id="cnpjHelp" class="form-text text-muted">CNPJ Empresa. ex: 00.000.000/0000-00.</small>
                </div>
                <div class="row form-group col">
                    <label for="idTelefone">Telefone</label>
                    <input type="text" class="form-control" id="idTelefone" name="telefone"
                           aria-describedby="telefoneHelp" value="{{empresa.telefone}}" required/>
                    <small id="telefoneHelp" class="form-text text-muted">Telefone da Empresa.</small>
                </div>
                <div class="row form-group col">
                    <input type="submit" class="btn btn-primary btn-block" value="Registrar"/>
                </div>
            </form>

      </div>
  </main>
    {{> footer}}
</body>
</html>