<!DOCTYPE html>
<html lang="pt-BR" class="h-100" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    {{> header}}
</head>
<body class="d-flex flex-column h-100">
{{> menu}}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col"><h1> Consultoria & Assessoria</h1></div>
        </div>

        {{> messages}}

        <form action="{{contextPath}}/consultoria/empresa/consulta" method="get">
            <div class="row">
                <div class="col-sm">
                    <label for="idNome">Nome</label>
                    <input type="text" class="form-control" id="idNome" name="nome"
                           aria-describedby="nomeHelp"/>
                    <small id="nomeHelp" class="form-text text-muted">Nome da Empresa. ex: Itau.</small>
                </div>
                <div class="col-sm">
                    <label for="idCNPJ">CNPJ</label>
                    <input type="text" class="form-control" id="idCNPJ" name="cnpj"
                           aria-describedby="cnpjHelp"/>
                    <small id="cnpjHelp" class="form-text text-muted">CNPJ Empresa. ex: 00.000.000/0000-00.</small>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <input type="submit" class="btn btn-primary btn-info btn-block" value="Consultar"/>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col">
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="row text-right">
            <div class="col">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{{contextPath}}/consultoria/empresa/cadastrar"
                       class="btn btn-primary me-md-2"> Cadastrar Empresa </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>&nbsp;</p>
            </div>
        </div>
        {{#empresas}}
            <div class="row" align="center">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-left">
                                <h5 class="card-title">{{nome}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{cnpj}}</h6>
                                <!--                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                                <!--                            <a href="#" class="btn btn-primary">Editar</a>-->
                            </div>
                        </div>

                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col">
                                    <a href="{{contextPath}}/consultoria/empresa/edit/{{id}}" class="btn btn-primary "> Editar </a>
                                </div>
                                <div class="col"></div>
                                <div class="col">
                                    <a href="{{contextPath}}/consultoria/empresa/remover/{{id}}" class="btn btn-danger"> Remover </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>&nbsp;</p>
                </div>
            </div>
        {{/empresas}}
    </div>
</main>
{{> footer}}
</body>
</html>