<meta charset="UTF-8">
<title>{{appName}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Jekyll v4.0.1">

<link rel="manifest" href="{{contextPath}}/manifest.json" />

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- CSS Project-->
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<link rel="stylesheet" href="{{contextPath}}/css/boostrap4/offcanvas.css">
<link rel="stylesheet" href="{{contextPath}}/css/boostrap4/sticky-footer.css">

<script type="application/javascript" src="{{contextPath}}/serviceWorker.js" data-context-path="{{contextPath}}"></script>
<script type="application/javascript" src="{{contextPath}}/app.js"></script>