<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-0" href="#">{{appName}}</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{contextPath}}/login/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{contextPath}}/consultoria/empresa/home">Consultoria & Assessoria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{contextPath}}/login/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>