<div class="row">
    <div class=" col">
        {{#errors}}
            <ul class="list-unstyled">
                <div class="alert alert-danger" role="alert">
                    <li>
                        {{.}}
                    </li>
                </div>
            </ul>
        {{/errors}}
        {{#success}}
            <div class="alert alert-success" role="alert">
                {{.}}
            </div>
        {{/success}}
    </div>
</div>