<!DOCTYPE html>
<html lang="pt-BR" class="h-100" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    {{> header}}
</head>
<body class="d-flex flex-column h-100">
    {{> menu}}
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col"><h1> Bem-Vindo(a), {{usuario.nome}}.</h1></div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p>&nbsp;</p>
                </div>
            </div>

        </div>
    </main>
    {{> footer}}
</body>
</html>