<!DOCTYPE html>
<html lang="pt-BR">
<head>

    {{> header}}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->

    <link href="{{contextPath}}/css/boostrap4/signin.css" rel="stylesheet">

</head>
<body class="text-center">
    <form action="{{contextPath}}/login/" class="form-signin" method="post">
        {{>messages}}
        <div class="form-group col">
            <h1 class="h3 mb-3 font-weight-normal">SIGO - Login</h1>
        </div>
        <div class="form-group col">
            <label for="inputUsername" class="sr-only">Usuario</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Usuario" name="usuario" required autofocus>
        </div>
        <div class="form-group col">
            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" name="senha" required>
        </div>
        <div class="form-group col">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Logar</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
        </div>
    </form>

</body>
</html>